@use './variables' as v;

html {
  font-size: 100%;
  box-sizing: border-box;
  
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  border: 15px solid v.$white;

  font-family: 'Public Sans', sans-serif;
  font-size: .875rem;
  line-height: 1.3;

  background-color: v.$tanly;
  color: v.$brownGrey;
}

p {
  margin: 0;
  padding: 0;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: v.$brownGrey;
}




// Flexbox style
.flex {
  display: flex;

  &-dir-r {
    flex-direction: row;
  }
  &-dir-c {
    flex-direction: column;
  }

  &-jc-sb {
    justify-content: space-between;;
  }
  &-jc-c {
    justify-content: center;
  }
  &-jc-fs {
    justify-content: flex-start;
  }
  &-jc-fe {
    justify-content: flex-end;
  }

  &-ai-c {
    align-items: center;
  }
}

// Block style

.block {
  display: block;
}

.block-inline {
  display: inline-block;
}